@import "src/theme/variables";
@import "src/theme/color";

.landing {
  @include page;
  background-color: $dark;

  & > header {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/d9cb1eea-62ee-4ec1-9b90-8d98874b8867/5fc44121-8ff0-4238-be5d-59824bcda174/CO-es-20210817-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    min-height: 60vh;
    position: relative;

    > .options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      width: 100%;
      padding: 20px 10% 0 10%;

      & .logo {
        max-width: 140px;
      }
    }

    > .overlay {
      background-color: rgba(0 ,0 ,0 ,0.6);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    > .content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      > .text {
        color: $light;
        font-weight: 300;

        &.main {
          font-size: 3.5rem;
          font-weight: bolder;
          white-space: pre-line;
          margin-bottom: 0;
        }

        &.middle {
          font-size: 1.5rem;
          font-weight: 400;
          margin: 15px 0;
        }
      }
    }
  }
}
