@import "src/theme/variables";
@import "src/theme/color";

.landing {
  @include page;
  background-color: $dark;

  & > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;

    & .logo {
      max-width: 120px;
    }
  }
}
