@import "src/theme/variables";

.profile-selection {
  @include page;
  display: flex;
  flex-direction: column;
  padding-top: 20vh;
  align-items: center;

  > .title {
    color: $light;
    font-size: 3.5rem;
    font-weight: 400;
  }

  > .users {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 40px 0;
    max-width: 1200px;
  }

  > .update-btn {
    color: $light;
    background-color: transparent;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 15px 30px;
    outline: none;
    border: 1px $light solid;
    cursor: pointer;
  }
}