@import "src/theme/color";

.button {
  background-color: $primary;
  border: none;
  outline: none;
  color: $light;
  padding: 7px 12px;
  border-radius: 3px;
  cursor: pointer;

  &.lg {
    font-size: 1.1rem;
    padding: 15px;
    font-weight: bold;
  }
}